.order-success {
  align-items: center;
  min-height: 88vh;
}

.order-success .icon {
  font-size: 100px;
  color: white;
  background-color: green;
  border-radius: 50%;
}

.order-success .btn {
  background-color: var(--pg-black) !important;
  color: white;
}

.order-success .btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.358);
}
