/* header  */
.new-arrivals .header .col a {
  align-items: center;
  text-decoration: none;
}

.new-arrivals .header .col h4 {
  font-size: 18px;
}

/* header ## */

/* card  */
.new-arrivals .card {
  border: none;
  transition: all 0.3s;
}

.new-arrivals .card:hover {
  transform: translateY(-5px);
}

.new-arrivals .card img {
  background-color: var(--pg-color-card);
}
/* card ## */

/* raiting & wish  */

.new-arrivals .card .rating-wish {
  left: 13px;
  top: 17px;
  align-items: center;
}

.new-arrivals .card .rating-wish .col button {
  background-color: white;
  border-radius: 20px;
  padding: 3px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.11);
}

.new-arrivals .card .rating-wish .col:last-child {
  display: flex;
  justify-content: end;
}

.new-arrivals .card .rating-wish .col:last-child button {
  border-radius: 50%;
  padding: 5px;
}

.new-arrivals .card .rating-wish .raiting-icon {
  color: orange;
}

/* raiting & wish ## */

/* featuers  */

.new-arrivals .featuers .row {
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.182);
  padding: 0;
}

@media (max-width: 992px) {
  .new-arrivals .featuers .row .col-3 .cardfea {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.new-arrivals .featuers .row .col-3 .icon {
  font-size: 27px;
  justify-content: center;
}

@media (max-width: 450px) {
  .new-arrivals .featuers .row .col-3 .icon {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .new-arrivals .featuers .row .col-3 .icon {
    font-size: 18px;
  }
}

@media (min-width: 451px) and (max-width: 992px) {
  .new-arrivals .featuers .row .col-3 .icon {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .new-arrivals .featuers .row .col-3 .text h5 {
    font-size: 7px;
  }
}

@media (min-width: 451px) and (max-width: 992px) {
  .new-arrivals .featuers .row .col-3 .text h5 {
    font-size: 12px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .new-arrivals .featuers .row .col-3 .text h5 {
    font-size: 17px;
  }
}

@media (max-width: 450px) {
  .new-arrivals .featuers .row .col-3 .text p {
    font-size: 7px;
  }
}

@media (min-width: 451px) and (max-width: 992px) {
  .new-arrivals .featuers .row .col-3 .text p {
    font-size: 10px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .new-arrivals .featuers .row .col-3 .text p {
    font-size: 13px;
  }
}
/* featuers ### */
