:root {
  --p-color: rgb(166, 168, 178);
  --pg-color: rgba(231, 173, 106, 0.17);
  --pg-color-card: rgba(220, 220, 220, 0.379);
  --pg-black: rgb(33, 37, 41);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.color-red {
  color: red !important;
}
